<p>
    heroes works by component's property directory: {{hero}}
</p>
<p>
    get hero by component's function: {{getHero()}}
</p>

<p>
    {{hero3.name | uppercase }} Details =>
    id = {{getHero3().id}} ;
    name = {{getHero3().name}} ;
</p>

<!--  
	Two-way binding : [(ngModel)]
		1.hero3.name
		2.input text's value
 -->
<div>
    <label>name using Two-way binding :
        <input [(ngModel)]="hero3.name" placeholder="name" />
    </label>
</div>


<!--  
	Display a Heroes List : *ngFor
 -->
<h2>My Heroes</h2>
<ul class="heroes">
    <!--
	 The *ngFor is Angular's repeater directive;
	 Angular's event binding syntax;
 -->
    <li *ngFor="let hero of heroes" (click)="onSelect(hero)">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<!--
 selectedHero is undefined, the ngIf removes the hero detail from the DOM 
 onSelect pass the hero from ui to component
 -->
<div *ngIf="selectedHero">
    <h2>{{selectedHero.name | uppercase}} Details in a same view with Lists of component HeroesComponent </h2>
    <div><span>id: </span>{{selectedHero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </label>
    </div>
</div>

<!-- 
	[hero]="selectedHero" is an Angular property binding.
	to do assigment from selected hero to its hero property in component HeroDetailComponent. 
	at component of HeroesComponent using selectedHero directly.
 -->

<app-hero-detail [hero]="selectedHero"></app-hero-detail>


<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes4" (click)="onSelect2(hero)">
        <a routerLink="/detail/{{hero.id}}"></a>
        <span class="badge">{{hero.id}}</span> {{hero.name}}
    </li>
</ul>

<div *ngIf="selectedHero2">
    <h2>{{selectedHero2.name | uppercase}} Details from data service </h2>
    <div><span>id: </span>{{selectedHero2.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero2.name" placeholder="name" />
        </label>
    </div>
</div>